<html>
<head>

<!-- Dirty hack to avoid FB appending #_=_ when redirecting url -->
<script type="text/javascript">
if (window.location.hash == '#_=_')window.location.hash = '';
</script>

</head>


<form name="loginform" action="login/geoquestUser">
<h1>Log In</h1>
<h3> <%= msg %> </h3>
<label>Username</label>
<input type='text' name='username'/> <br>

<label>Password</label>
<input type='text' name='password'/> <br>

<a href="javascript: submitform()">Login</a>

<!--   <button type= "Submit" >Log In</button>  -->

</form>


<script>
function submitform()
{
  document.loginform.submit();
}
</script>


<hr />
<a href='/auth/google'>
	<img alt="Google Login" src="./views/images/GoogleLogo.png"/>
</a>
<a href='/auth/facebook'>
	<img alt="Facebook Login" src="./views/images/FacebookLogo.png"/>
</a>

<hr />
Not a user yet: <a href='/signup/geoquestUser/'> Sign Up to GeoQuest now!</a>



</html>