<html>
<form action="login/geoquestUser">
<h1>Log In</h1>
<label>Username</label>
<input></input> <br>

<label>Password</label>
<input></input>
<button type= "SUbMIT" >Log In</button>
</form>

<hr />
<a href='/auth/google'>
	<img alt="Google Login" src="./views/images/GoogleLogo.png"/>
</a>
<a href='/auth/facebook'>
	<img alt="Facebook Login" src="./views/images/FacebookLogo.png"/>
</a>

<hr />
Not a user yet: <a href='/signup/geoquestUser/'> Sign Up to GeoQuest now!</a>



</html>