<html>

<form name="loginform" action="login/geoquestUser">
<h1>Log In</h1>
<label>Username</label>
<input type='text' name='username'/> <br>

<label>Password</label>
<input type='text' name='password'/> <br>

<a href="javascript: submitform()">Login</a>

<!--   <button type= "SUbMIT" >Log In</button>  -->

</form>

<<<<<<< HEAD
<script type="text/javascript">

function submitform()
{
  document.loginform.submit();
}
</script>


=======
>>>>>>> 35171ab773ee5cd74e1cc81e710c8a520442f7f8
<hr />
<a href='/auth/google'>
	<img alt="Google Login" src="./views/images/GoogleLogo.png"/>
</a>
<a href='/auth/facebook'>
	<img alt="Facebook Login" src="./views/images/FacebookLogo.png"/>
</a>

<hr />
Not a user yet: <a href='/signup/geoquestUser/'> Sign Up to GeoQuest now!</a>



</html>