
<div data-role="page" id="page1">
	<div data-role="content">
		<h1><%= title %></h1>
		<p><%= msg %></p>
		<form action="/login" method="POST">
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<label for="textinput1"> Username </label> <input name="username"
						id="textinput1" placeholder="" value="" type="text">
				</fieldset>
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<label for="textinput2"> Password </label> <input name="password"
						id="textinput2" placeholder="" value="" type="password">
				</fieldset>
			</div>
			<input class="btn" data-inline="true" value="Login" type="submit">
		</form>
	</div>

	<hr />
	<div data-role="content">
		<h3>
			Not a user yet? Sign Up:<br />
			<a href='/signup' class="btn">Register</a>
			or login via
			<a href='/auth/google' rel='external'><img alt="Google Login" src="/images/GoogleLogo.png" /></a>
			<a href='/auth/facebook' rel='external'><img alt="Facebook Login" src="/images/FacebookLogo.png" /></a>
		</h3>
	</div>
</div>
