<div data-role="page" id="page1">

	<div data-role="header" data-theme="b">
	    <h3><%= msg %></h3>
	</div>


    <div data-role="content" style="padding: 15px">
        <form action="/signup" method="POST" data-ajax="false">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput2">
                        Username
                    </label>
                    <input name="username" id="textinput2" placeholder="" value="" type="text">
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput3">
                        Password
                    </label>
                    <input name="password" id="textinput3" placeholder="" value="" type="password">
                </fieldset>
            </div>
             <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput3">
                        Confirm Password
                    </label>
                    <input name="confirmPassword" id="textinput3" placeholder="" value="" type="password">
                </fieldset>
            </div>
			<div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput3">
                        First Name
                    </label>
                    <input name="fName" id="textinput3" placeholder="" value="" type="text">
                </fieldset>
            </div>
			<div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput4">
                        Last Name
                    </label>
                    <input name="lName" id="textinput4" placeholder="" value="" type="text">
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput4">
                        Email
                    </label>
                    <input name="email" id="textinput4" placeholder="@" value="" type="email">
                </fieldset>
            </div>
            <input data-inline="true" value="Sign Up" type="submit">
        </form>
    </div>
</div>
 