
<h1><%= title %></h1>
<p class="alert"><%= msg %></p>
<form action="/games/upload" method="POST" enctype="multipart/form-data">
	<fieldset>
		<label for="game">Game as JSON</label>
		<input name="game" type="file" size="50"/>
	</fieldset>
	<input value="Upload" type="submit" class="btn" />
</form>
