
<h1>Upload Resource for <%= game.getName() %></h1>
<p class="alert"><%= msg %></p>
<form action="/games/uploadResources?gameId=<%= game.getId() %>" method="POST" enctype="multipart/form-data">
	<fieldset>
		<label for="game">Upload Game Resources <b><i>Images/Audio/Video</i></b></label>
		<input name="game" type="file" size="50"/>
	</fieldset>
	<input value="Upload" type="submit" class="btn" />
</form>
